*.dll
*.dll.manifest
*.exp
*.lib
*.pdb
*.ilk

cleaner.nls
CMakeCache.txt
CMakeFiles
CMakeLists.txt
cmake_install.cmake
Makefile
unloader.nls
loader.nls
mexFunctionsList.json

# Matlab
mexGateway.c
*.mex
*.mexw64

# Scilab files
builtin/Release
builtin/Release/*.mak
builtin/Makelib.mak
builtin/mexsci*.hxx
builtin/mexsci*.cpp
builtin/mexsci*.h
builtin/mexsci*.def
builtin/cleaner.sce
builtin/loader.sce
unloader.sce
loader.sce
cleaner.sce

